<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name = "Console" target="SYSTEM_OUT">
			
			<PatternLayout pattern="%d{DD-MM-YYYY HH:MM:SS} [%t] %highlight{%5p} %c-::%M() ::%L - %m%n"> </PatternLayout>

		</Console>
		
	<File name="FileLogger" fileName="logs/automation.log" append="false">
		<PatternLayout pattern="%d{DD-MM-YYYY HH:MM:SS} [%t] %highlight{%5p} %c{1}-::%M() ::%L - %m%n"> </PatternLayout>
	</File>
	
	</Appenders>
	
	<loggers>		
		<root level="info">
		<appenderRef ref="Console"></appenderRef>
		<appenderRef ref="FileLogger"></appenderRef>
		</root>
	
	</loggers>



</Configuration>